/*
 * Global definitions used:
 * navbarWidth: 10em
 */

/* define basic setup */
/*
* {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:        border-box;
}
*/

body  {
  background: #121212; 
  font-family:'Arial Narrow','Nimbus Sans L',Helvetica,sans-serif;
  font-family:Impact, Charcoal, sans-serif;
  font-family:'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
  font-family:'Helvetica LT UltraCompressed','Swiss911 UCm BT',OpenDinSchriftenEngshrift;
  font-family:'Ubuntu Condensed';
  font-size: 5.5mm;
  overflow: hidden;
  margin: 0.1em;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

/* Clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

*:first-child+html .clearfix {
    min-height: 0;
}

* html .clearfix {
    height: 1%;
}

* html>body .clearfix {
    display: inline-block;
    width: 100%;
}

* html .clearfix {
    /* Hides from IE-mac \*/
    height: 1%;
    /* End hide from IE-mac */
}

.loading {
    display: block !important;
}

div#loading {
    display: none !important;
}

/******************************************************************/
/* define the top bar */

/* combine two :before boxes to have the correct roundings - 100% on the outside and 50% on the inside */
#top:before {
  width: 2em;
  height: 2em;
  border: solid #9999cc;
  border-top-width: 1.5em;
  border-left-width: 10em;
  border-top-left-radius: 4em 4em;
  border-right-width: 0px;
  border-bottom-width: 0px;
  content: "";
  display: block;
  position: absolute;
}

.nav_path:before {
  width: 2em;
  height: 2em;
  border: solid #9999cc;
  border-top-width: 1.5em;
  border-left-width: 10em;
  border-top-left-radius: 12em 3.5em;
  border-right-width: 0px;
  border-bottom-width: 0px;
  content: "";
  display: block;
  position: absolute;
  margin-left: -12.1em;
}

.nav_path  {
  background: #9999cc;
  margin-left: 12.1em;
  margin-bottom: 2.1em;
  border: 0px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.nav_path a {
  color: #000;
  background-color: #ff9900;
  border-width: 0px 0.1em 0px 0px;
  border-style: solid;
  border-color: #000;
  padding: 0 0.25em 0 0.25em;
  /*line-height: 1.5em;*/
  height: 1.5em;
  display: inline-block;
}

/* disable seperator */
.nav_path span {
  display: none;
}

#navbarLeft {
  width: 12em;          /* left bar width */
  overflow-y: hidden;
  margin-left: 0;      /* overwrite the margin-left of .page */
}

#navbarLeft:after {
  content: "";
  display: block;
  height: 100%;
  background-color: #cc6699;
  width: 10em; /* size of the knee */
  margin-top: 0.1em;
}

#navbarLeft .widget, #navbarLeft hr {
  margin-left: 0;
  margin-right: 2em;
}

#navbarLeft .switch, #navbarLeft .trigger, #navbarLeft .multitrigger {
  margin-right: 1em;
}

#centerContainer {
}

#main {
  overflow-y: visible !important;
}

#pages {
  overflow: hidden;
}

/******************************************************************/
h1, h2 {
  color: #999;
}

h1 {
  position: fixed;
  top: 0;
  right: 0.5em;
  display: none;
}

.activePage h1 {
  display: block;
}

.page
{
  float:left;
  overflow: auto;
  position: relative;
  /*margin-left: 1em;*/ /* to stay out of the knee */
}

.colspan0 {
  width: 8.33333%;
}

.widget {
  /* border: 1px solid blue; */
  line-height: 1em;
}
.widget_container, .text > div, .widget .actor,
  .widget .actor div, .page {
  float:left;
}

.link > div, .link a , .switchPressed, .switchUnpressed, * html>body .clearfix,
  .info > div, .actor .value , .text>div {
  width: 100%;
}

.widget > .label {
  float: none;
  width: auto;
  position: absolute;
  font-size: 0.75em;
  margin-left: 1em;
  pointer-events: none;
}

.widget .actor, .widget.pagelink > div > a, .widget.text > div {
  text-align: center;
  min-height: 2em;
  background: #ffcc99;
  /* margin: 0.1em; */
}
.widget.pagelink > div > a {
  display: block;
}

.switch > .actor {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.trigger > .actor, .multitrigger .actor {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.infotrigger .label {
  /* text-align: center; */
}

.infotrigger > div, .multitrigger > div {
  width: 100%;
}

.infotrigger .actor {
  width: 33.33333333333%;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-right-color: #121212;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.infotrigger .uplabel {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-right-style: none;
}

.infotrigger .downlabel {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.text {
  color: #999;
}

.widget.slide {
  margin-left: 2.2em;
  margin-right: 4.1em;
}

.slide:before {
  content: "";
  display: block;
  background-color: #fc9;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  height: 2em;
  min-width: 2em;
  margin-left: -2.1em;
  position: absolute;
}

.slide:after {
  content: "";
  display: block;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #fc9;
  height: 2em;
  min-width: 2.0em;
  visibility: visible;
  display: inline-block;
  margin-left: 2.1em;
  position: absolute;
}

.slide .label {
  color: #999;
  z-index: 3;
}

.slide .actor {
  width: 100%;
  float: none;
  background: none;
  float: left;
  display: block;
}

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 2em; height: 2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: 1em; /*border-radius: 0.5em;*/ }
.ui-slider-horizontal .ui-slider-handle { /*top: -0.5em; margin-left: -0.5em;*/ }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-widget-content { /*border: 1px solid #dddddd;*/ background: #000 ; color: #000; }
.ui-widget-content a { color: #333333; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { /*border: 1px solid #cccccc;*/ background: #fc9 ; /*border-radius:1em;*/ }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
/*.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }*/


.widget .info .actor, .text > div, .link > div, .link a, 
  .value, .popup >div.head {
    width: 100%;
}

.widget_container {
  margin-top: 0.1em; 
  position: relative;
}

.widget, .widget.group {
  margin-left: 0.1em;
  min-height: 2em;
}

.widget.group {
  margin-left: 0.8em;
  margin-right: 0.7em;
}

.widget.group:before {
  content: "";
  content: "";
  display: block;
  border: 0.3em solid #0f0;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-right-width: 0;
  height: 100%;
  min-width: 0.6em;
  margin-left: -0.7em;
  position: absolute;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.widget.group > .clearfix {
  display: inline-block;
  width: 100%;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.widget.group:after {
  content: "";
  visibility: visible;
  display: inline-block;
  border: 0.3em solid #0f0;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-left-width: 0;
  height: 100%;
  min-width: 0.6em;
  margin-left: 0.1em;
  position: absolute;
  top: 0;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.group h2 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

body hr, body br, #pages hr {
  margin: .1em .0em 0.0em .1em; 
  clear: both;
  border: none;
  background: #9cf;
  height: 0.2em;
}

.popup, .widget.image, .widget.video, .widget.diagram {
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.popup:before, .widget.image:before, .widget.video:before, .widget.diagram:before {
  content: "";
  display: block;
  border: 0.3em solid #0f0;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-right-width: 0;
  height: 100%;
  min-width: 0.6em;
  margin-left: -0.7em;
  position: absolute;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popup > .head, .widget.image > .label, .widget.video > .label, .widget.diagram > .label {
  position: static;
  display: inline-block;
  color: #999;
}

.popup > .main, .widget.image > .actor, .widget.video > .actor, .widget.diagram > .actor {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  background: none;
  display: inline-block;
  float: none;
}

.popup:after, .widget.image:after, .widget.video:after, .widget.diagram:after {
  content: "";
  visibility: visible;
  display: inline-block;
  border: 0.3em solid #0f0;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-left-width: 0;
  height: 100%;
  min-width: 0.6em;
  margin-left: 0.1em;
  position: absolute;
  top: 0;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.diagram_inline {
  width: 320px;
  height: 180px;
}

.diagram_preview {
  width: 10em;
  height: 2em;
}

#diagramTooltip {
  z-index: 1000;
  color: black;
  border: 1px solid #fdd;
  padding: 2px;
  background-color: #fee;
  opacity: 0.80;
}

.popup,
.popup_background {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}

.popup {
  z-index: 101;
  background: transparent;
}


.popup_background {
  z-index: 100;
  -moz-border-radius: 0.6em; -webkit-border-radius: 0.6em; border-radius: 0.6em;
  background: #000;
  border: none;
  opacity: 0.9;
}

.popup div.head {
  border-bottom: 1px solid;
}

.popup_background.error {
  background: #800000;
  border: #f00;
}

