[submodule "external/knx-uf-iconset"]
	path = external/knx-uf-iconset
	url = https://github.com/OpenAutomationProject/knx-uf-iconset.git
[submodule "external/qooxdoo"]
	path = external/qooxdoo
	url = https://github.com/CometVisu/qooxdoo.git
	branch = cometvisu
