cache/
release/
CometVisu-*.tar.gz
CometVisu-*.zip
node_modules/
/source/rest/cv/vendor/
.idea
*.swp
doc/api/examples/
/docs/
deploy_key
settings/keys/deploy_key
.project
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.name
# .gitignore template for skeleton-based apps
/api/
/build/
/compiled/
/client/compiled/
/.env/
/test/
/source/script/
/source/class/cv/Version.js
/source/replay-log.js
/client/build/
/.chrome
/.firefox
/coverage
/out
*.pyc
/doc/manual/*/_build/**
**/.vscode/**
qx_packages/
