#
# Fix commit names for shortlog
#
Christian Mayer <ChristianMayer@users.noreply.github.com> Christian Mayer <mail@christianmayer.de>
Christian Mayer <ChristianMayer@users.noreply.github.com> mail@ChristianMayer.de <mail@christianmayer.de>
Michael Hausl <MHWallaby@users.noreply.github.com> hausl <hausl@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
Tobias Bräutigam <peuter@users.noreply.github.com> peuter <peuter@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
Tobias Bräutigam <peuter@users.noreply.github.com> Tobias Bräutigam <tbraeutigam@gmail.com>
ctr49 <ctr49@users.noreply.github.com> chris_ace <chris_ace@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
hannes-loehr <hannes-loehr@users.noreply.github.com> hannesloehr <hannesloehr@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
J-N-K <J-N-K@users.noreply.github.com> j-n-k <j-n-k@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
jensgulow@aol.com jensgulow1 <jensgulow1@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
JuMi2006 <JuMi2006@users.noreply.github.com> jumi2006 <jumi2006@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
mclb <mclb@users.noreply.github.com> mclb <mclb@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
netfritz59 <netfritz59@users.noreply.github.com> netfritz <netfritz@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
ctschach <ctschach@users.noreply.github.com> netsrac69 <netsrac69@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
netzkind <netzkind@users.noreply.github.com> netzkind <netzkind@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
panzaeron <panzaeron@users.noreply.github.com> panzaeron <panzaeron@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
PelNet <PelNet@users.noreply.github.com> pelnet <pelnet@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
vlamers <vlamers@users.noreply.github.com> vlamers <vlamers@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
daviid5 <daviid5@users.noreply.github.com> daviid5 <daviid5@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
bubo08 <bubo0800@gmail.com> bubo08 <bubo08@b3ce15a5-05c3-4bc8-b6eb-98bdc3a999cb>
