language: node_js
node_js:
  - '4.2'
cache:
  directories:
    - node_modules
before_install:
  - npm install -g grunt-cli
install:
  - npm install
  - ./node_modules/protractor/bin/webdriver-manager update --standalone --firefox
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - ./node_modules/protractor/bin/webdriver-manager start 2>&1 &
  - sleep 3
script:
  - grunt jscs
  - grunt karma:travis
  - grunt e2e
  - grunt coveralls