language: node_js
node_js:
  - '4.2'
before_install:
  - npm install -g grunt-cli
install:
  - npm install
  - ./node_modules/protractor/bin/webdriver-manager update
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - nohup bash -c "./node_modules/protractor/bin/webdriver-manager start 2>&1 &"
script:
  - grunt jscs
  - grunt karma:continuous
  - grunt protractor