language: python
dist: trusty
node_js:
- '4.2'
python:
- '3.5'
cache:
  directories:
  - node_modules
  - "$HOME/.cache/pip"
  - downloads
env:
  - CV_BUILD="test" CV_BROWSER=Chrome CV_VERSION=stable
  - CV_BUILD="docs" ENCRYPTION_LABEL="4c79fec0aeb9" COMMIT_AUTHOR_EMAIL="generator@cometvisu.org" CV_BROWSER=Chrome CV_VERSION=stable
before_install:
- mkdir -p downloads
- nvm install 4.2
- sudo ./utils/travis/browser-setup.sh
- if [ "$CV_BUILD" == "docs" ]; then export CHROME_BIN=`pwd`/chrome/google-chrome; fi
- if [ "$CV_BUILD" == "docs" ] && ! [ -e downloads/plantuml.deb ]; then wget -O downloads/plantuml.deb http://yar.fruct.org/attachments/download/362/plantuml_7707-1_all.deb; fi
- mkdir cache
install:
- npm install -g grunt-cli
- cd external/qooxdoo
- npm install
- grunt setup
- cd ../../
- sudo pip install -r utils/requirements.txt
- virtualenv -p /usr/bin/python2.7 --distribute temp-python --system-site-packages
- source temp-python/bin/activate
- if [ "$CV_BUILD" == "test" ]; then ./generate.py source -sI; fi
- if [ "$CV_BUILD" == "docs" ]; then ./generate.py build -sI; fi
- deactivate
- "./node_modules/protractor/bin/webdriver-manager update"
- if [ "$CV_BUILD" == "docs" ]; then sudo apt-get install graphviz python-lxml python3-lxml; fi
- if [ "$CV_BUILD" == "docs" ]; then sudo dpkg -i downloads/plantuml.deb; fi
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- "./node_modules/protractor/bin/webdriver-manager start 2>&1 &"
- sleep 3
script:
- if [ "$CV_BUILD" == "test" ]; then source temp-python/bin/activate; fi
- if [ "$CV_BUILD" == "test" ]; then grunt jscs; fi
- if [ "$CV_BUILD" == "test" ]; then ./generate.py lint; fi
- if [ "$CV_BUILD" == "test" ]; then deactivate; fi
- if [ "$CV_BUILD" == "test" ]; then grunt karma:travis; fi
- if [ "$CV_BUILD" == "test" ]; then grunt e2e-chrome; fi
- if [ "$CV_BUILD" == "docs" ]; then utils/travis/deploy.sh; fi
before_deploy:
- grunt release-build
deploy:
  on:
    branch: develop
    condition: "$CV_BUILD = test && $TRAVIS_EVENT_TYPE = cron && $(git reflog --no-merges --after='24 hours' | wc -l) -gt 0"
  provider: bintray
  file: "./deploy.json"
  user: peuter
  key:
    secure: ZNAOoxb+uRMQalSr6sPgy6waeZod+yZwNFmijNRBDLQw0ArGdPYqBHXI5eoOJ6V86nCZ/OKrzZ5Q5YStArZoHhe3MTTt1btGBDNkS7cPV/1ijvKk93x5wxFtVtYl07EROolSoqWR4rT+DI0TIRo4xCBHc6BMjHz0e8OONUPmDZs=
  dry-run: false
after_success:
- if [ "$CV_BUILD" == "test" ]; then grunt coveralls; fi
