language: python
dist: trusty
node_js:
- '4.2'
python:
- '3.5'
cache:
  directories:
  - node_modules
env:
  - CV_BUILD="test"
  - CV_BUILD="docs" ENCRYPTION_LABEL="4c79fec0aeb9" COMMIT_AUTHOR_EMAIL="generator@cometvisu.org" CV_BROWSER=Chrome CV_VERSION=stable
before_install:
- nvm install 4.2
- npm install -g grunt-cli
- if [ "CV_BUILD" == "docs" ]; then sudo ./.doc/browser-setup.sh; fi
- if [ "CV_BUILD" == "docs" ]; then export CHROME_BIN=`pwd`/chrome/google-chrome; fi
- if [ "CV_BUILD" == "docs" ]; then sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y; fi
- if [ "CV_BUILD" == "docs" ]; then wget -O /tmp/plantuml.deb http://yar.fruct.org/attachments/download/362/plantuml_7707-1_all.deb; fi
- if [ "CV_BUILD" == "docs" ]; then sudo apt-get update -q; fi
- if [ "CV_BUILD" == "docs" ]; then sudo apt-get install gcc-5 g++-5; fi
- if [ "CV_BUILD" == "docs" ]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-5 80 --slave /usr/bin/g++ g++ /usr/bin/g++-5; fi
- if [ "CV_BUILD" == "docs" ]; then sudo update-alternatives --set gcc /usr/bin/gcc-5; fi
- mkdir cache
install:
- npm install
- "./node_modules/protractor/bin/webdriver-manager update --standalone --firefox"
- if [ "CV_BUILD" == "docs" ]; sudo pip install -r .doc/requirements.txt; fi # for documentation
- if [ "CV_BUILD" == "docs" ]; then sudo apt-get install libxml2-dev libxslt-dev graphviz; fi
- if [ "CV_BUILD" == "docs" ]; then sudo dpkg -i /tmp/plantuml.deb; fi
- if [ "CV_BUILD" == "docs" ]; then npm install jsdoc libxmljs-mt libxml-xsd easyimage; fi
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- "./node_modules/protractor/bin/webdriver-manager start 2>&1 &"
- sleep 3
script:
- if [ "CV_BUILD" == "test" ]; then grunt jscs; fi
- if [ "CV_BUILD" == "test" ]; then grunt karma:travis; fi
- if [ "CV_BUILD" == "test" ]; then grunt e2e; fi
- if [ "CV_BUILD" == "test" ]; then grunt coveralls; fi
- if [ "CV_BUILD" == "docs" ]; then .doc/deploy.sh; fi
