/* Editor-Stuff */
.widget {position: relative;}

.editcontrol, .movecontrol, .removecontrol {
    position: absolute;
    height: auto;
    min-height: 2em;
    background-color: grey;
    filter: alpha(opacity=50);
    opacity: 0.5;
    text-align: center;
    float: none !important;
    padding: 0 !important;
    z-index: 5;
    color: white !important;
}

.editcontrol {
    right: 1.1em;
    cursor: pointer;
    padding: 0 .2em;
    background-color: #333333;
}

.movecontrol, .removecontrol {
    left: 0;
    background-color: #666666;
    width: 8mm;
    cursor: move;
}

.removecontrol {
    left: auto;
    right: .1em;
    width: .8em;
    cursor: pointer;
    background-color: red;
}

div#controlcontainer {
    height: 2em;
    position: fixed;
    right: 2em;
    top: 2em;
    z-index: 3;
}

div#controlcontainer div {
    border: 1px solid #444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 1.5em;
    text-align: center;
    background-color: grey;
    cursor: pointer;
    float: right;
    margin-right: .5em;
}

div#saveconfigcontrol {
    padding: 0 .2em;
}

div#addwidgetcontrol {
    width: 1.5em;
}

div#addMaster {
    border: 1px solid #444;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: grey;
    display: none;
    position: absolute;
    width: 97%;
    height: 80%;
    overflow: auto;
    margin: auto;
    top: 2em;
    left: .5em;
    padding: .5em;
    z-index: 4;
}

#addMaster .multi_element {
    width: 90%;
    height: 10em;
    overflow: auto;
    border: 1px solid #444;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
}

#addMaster fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.multi_element .element {
    min-height: 2em;
    border: 1px solid #5A5A5A;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2px;
    cursor: pointer;
}

.input .add_element {
    cursor: pointer;
}

.element .edit {
    clear: both;
}

.element .title {
    font-weight: bold;
    height: 1em;
}

.element .value, .element .transform, .element .readonly, .element .variant {
    font-weight: normal;
    height: 1em;
    font-size: small;
}

.element .value, .element .readonly {
    float: left;
}

.element .transform {
    float: right;
}

.element .readonly {
    margin-left: .4em;
    font-style: italic;
}

.element .variant {
    float: left;
    margin-left: .4em;
    font-weight: bold;
}

.element .variant:before {
    content: "(";
}

.element .variant:after {
    content: ")";
}



.multi_element .element .edit {
}

.addwidget .editcontrols label {
    float: left;
    width: 180px;
}


.addwidget .editcontrols .input {
    padding-left: 200px;
}

.addwidget .editcontrols .multi_element label {
    float: left;
    width: 100px;
    font-size: smaller;
}


.addwidget .editcontrols .multi_element .input {
    padding-left: 120px;
}

div.line {
    width: 97%;
}

div.line hr {
    margin-top: .9em;
}

#addMaster button {
    margin: .4em;
}

/* jnotify stuff */
.jnotify-item
{
    height: auto;
    width: 80%;
    padding: 4px 4px 4px 4px;
    margin: 0 0 5px 0;
    display: block;
    position: fixed;
    left: 1em;
    top: 1em;
    z-index: 6;
}

.jnotify-item-close
{
    float: right;
    margin-left: 2px;
}

