@media (max-width: 600px) {

	.widget_container {
		width: 100%;
	}

	#bottom {
		display: none !important;
	}

	.group.widget {
		border: none;
		border-radius: 0;
		margin: 0;
	}

	.group > div > h2 {
		border-radius: 0;
	}

	.widget .ui-slider {
		width: 39%;
	}

	/* prevent top/bottom navbar wrapping, use scrolling instead, if necessary */
	#navbarTop > .navbar > div, #navbarTop > .navbar > hr {
		display: inline-block;
		float: none;
	}

	#navbarTop > .navbar > .widget_container:last-child > .clearfix:after {
		display: none;
	}

	#navbarTop > .navbar, #navbarBottom > .navbar {
		overflow-y: hidden;
		overflow-x: auto;
		white-space: nowrap;
		height: 3.6em;
	}

	.widget > .label, .widget.text > div {
		padding-left: 0.3em;
	}
}
