/* 
 * global CSS declarations for all designs 
 */

/* 
 * colspans, each design needs to define a colspan0
 * class, this class is the default widget size
 */
 
.colspan1 {
  width: 8.33333%;
}

.colspan2 {
  width: 16.66666%;
}

.colspan3 {
 width: 24.99999%;
}

.colspan4 {
  width: 33.33332%;
}

.colspan5 {
  width: 41.66665%;
}

.colspan6 {
  width: 49.99998%;
}

.colspan7 {
  width: 58.33331%;
}

.colspan8 {
  width: 66.66664%;
}

.colspan9 {
  width: 74.99997%;
}

.colspan10 {
  width: 83.33330%;
}

.colspan11 {
  width: 91.66663%;
}

.colspan12 {
  width: 99.99996%;
}




