.page.type_2d.flavour_transparent-background > div.clearfix > img {
    opacity: 0.4;
}

.page.type_2d .widget.custom_bubble {
    border: 4px solid #CCC;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #222;
}

.page.type_2d .widget.custom_bubble.embedded {
    border-width: 0;
    box-shadow: 2px 4px 4px 0px rgba(135, 135, 135, 0.5);
}

.page.type_2d .widget.custom_bubble .switchPressed, .page.type_2d .widget.custom_bubble .switchUnpressed {
    background: none;
    border: none
}

.page.type_2d .widget.custom_bubble .switchPressed div, .page.type_2d .widget.custom_bubble .switchUnpressed div {
    padding: 0;
}

.page.type_2d .widget.custom_bubble .actor, .page.type_2d .widget.custom_bubble .value {
    text-align: center;
    height: 100%;
    line-height: 60px;
}

.page.type_2d .widget.custom_bubble .value .icon {
    margin: 0 !important;
    height: 40px;
    width: 40px;
    padding: 10px;
}

.page.type_2d .widget_container .widget.custom_bubble > div {
    margin: 0;
}

.page.type_2d .widget.custom_text-2d {
    border: none;
    color: #888888;
}

.page.type_2d .widget.custom_embedded, .page.type_2d .widget.embedded {
    transform: skew(-10deg, 4deg);
}

#navbarTop .navbar .widget.text.custom_vertical {
    position: relative;
    padding: 0;
    margin: 0;
    min-width: unset;
    min-height: unset;
    line-height: normal;
    font-size: 14px;
    width: 20px;
    height: 75px;
    background-color: rgba(129, 102, 75, 0.8);
    color: rgb(226, 212, 198);
}
#navbarTop .navbar .widget.text.custom_vertical div {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
    transform: rotate(-90deg);
    white-space: nowrap;
}

.infotrigger.custom_small-label .label {
    width: 30%;
}

/* Use flex layout for multitrigger */

html .page .widget.multitrigger, html .page .widget.multitrigger .actor_container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: calc(100% - 0.6em);
}

html .page .widget.multitrigger .actor_container {
    justify-content: space-evenly;
}

.widget.multitrigger > .label {
    flex-basis: 50%;
    align-self: stretch;
}

.widget.multitrigger .actor_container {
    flex-basis: auto;
}

.widget.multitrigger .actor {
    flex-basis: calc(50% - 4px - 2em);
    margin: 2px 1em;
}

.widget.multitrigger .actor .value {
    text-align: center;
    float: none;
}