.ui-slider {
  position: relative;
  text-align: left;
  border-color: #191919;
  background-color: #666;

  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 0.7em;
    box-shadow: 1px 1px 0 rgb(27 31 35);
    border-width: 0;
    border-radius: 12px;
    padding: 1px;
    background-color: #444444;
    text-decoration: none;
    color: #FFF;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
  }

  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    top: 0;
    height: 100%;
  }
}

.ui-slider-horizontal {
  height: .8em;
  .ui-slider-handle {
    top: -1.25em;
  }
}

.colorchooser {
  .actors {
    .actor.ui-slider {
      margin: 2.5em 1em 1.5em 1em;
      width: calc(100% - 2em);
    }
  }
}
