@use "sass:math";

/* colors */
$appBackground: #525151;
$tileBackground: #2e2e2e;
$buttonBackground: #1f1f1f;
$primaryColor: #ff9900;
$secondaryColor: #666666;
$borderColor: #7a7a7a;

$primaryText: #b6b6b6;
$secondaryText: #7e7d7d;

/* dimensions */
$defaultSpace: 8px;
$tileCellSize: 64px;
$borderRadius: 18px;
$tileRows: 3;
$tileColumns: 3;

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../metal/fonts/Roboto-Regular.ttf");
}

@import url("fonts/remixicon.css");

body {
    background-color: $appBackground;
    font-family: Roboto Arial sans-serif;
    color: $primaryText;
    margin: 0;

    cv-page {
        padding: $defaultSpace*2;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: $defaultSpace * 2;

        details {
            flex: 0 0 100%;
            border-top: 1px solid $borderColor;
            margin-top: $defaultSpace*2;
            summary {
                padding: $defaultSpace 0;
                float: none !important;
                margin-left: 0 !important;
            }
        }
        details:first-child {
            border-top: none;
            margin-top: 0;
        }
        details > * {
            float: left;
            margin-left: $defaultSpace * 2;
        }
        details > summary + * {
            margin-left: 0;
        }
    }
    cv-switch, cv-shutter {
        width: $tileCellSize * $tileColumns;
        height: $tileCellSize * $tileRows;
    }

    cv-tile {
        width: $tileCellSize * $tileColumns;
        height: $tileCellSize * $tileRows;
        background-color: $tileBackground;
        border-radius: $borderRadius;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        display: grid;
        grid-template-columns: repeat($tileColumns, 1fr);
        grid-template-rows: repeat($tileRows, 1fr);
        justify-items: center;

        .row {
            height: 64px;
            width: 100%;
        }

        @for $i from 2 through $tileColumns {
            > .colspan-#{$i} {
                grid-column: 1 / span #{$i};
            }

            > [column='#{$i}'] {
                grid-column: #{$i};
            }

            @if 2*$i - 1 <= $tileColumns {
                > .colspan-#{$i}[column='#{$i}'] {
                    grid-column: #{$i} / span #{$i};
                }
            }
        }
        @for $i from 2 through $tileRows {
            > .rowspan-#{$i} {
                grid-row: 1 / span #{$i};
            }
            > [row='#{$i}'] {
                grid-row: #{$i};
            }

            @if 2*$i - 1 <= $tileRows {
                > .rowspan-#{$i}[row='#{$i}'] {
                    grid-row: #{$i} / span #{$i};
                }
            }
        }

        cv-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        > [row='first'] {
            grid-row: 1;
            justify-content: flex-end;
        }

        > [row='middle'] {
            grid-row: math.ceil(math.div($tileRows, 2));
        }

        > [row='last'] {
            grid-row: $tileRows;
            justify-content: flex-start;
        }

        > [row='last'] > label:first-child {
            margin-top: 4px;
        }
    }

    cv-tile.clickable {
        cursor: pointer;
    }

    label, label.primary {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        /* identical to box height */
        text-align: center;
        color: $primaryText;
        display: block;
    }

    label.secondary {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
        color: $secondaryText;
        display: block;
    }

    cv-meta, cv-address, cv-mapping, cv-styling {
        display: none;
    }

    cv-button {
        width: $tileCellSize - $defaultSpace;
        height: $tileCellSize - $defaultSpace;
        border-radius: $defaultSpace;
        background: $buttonBackground;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        color: $secondaryColor;
        border: 1px solid $secondaryColor;
        box-shadow: 0 0 1px 0 $secondaryColor inset, 0 0 1px 0 $secondaryColor;
        align-self: center;
        cursor: pointer;

        .value {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        cv-icon {
            font-size: math.div($tileCellSize - $defaultSpace*2, 2);
        }
    }

    cv-button.round-button {
        border-radius: math.div($tileCellSize - $defaultSpace, 2);
    }

    cv-button.active {
        color: $primaryColor;
        border: 1px solid $primaryColor;
        box-shadow: 0 0 1px 0 $primaryColor inset, 0 0 1px 0 $primaryColor;
    }

    cv-value {
        p {
            margin-block-start: 0;
            margin-block-end: 0;
        }
        label.value {
            font-size: xxx-large;
        }
        label.unit {
            color: $primaryText;
        }
    }
}
