body header nav cv-menu {
  ul li {
    display: none;
  }

  a.menu {
    display: block;
    text-align: right;
    padding: var(--spacing);

    i {
      vertical-align: middle;
    }
  }

  ul ul li {
    padding-left: calc(var(--spacing) * 2) !important;
  }

  &.responsive {
    position: relative;

    .menu {
      position: absolute;
      right: 0;
      top: 0;
    }

    ul {
      position: relative;
    }

    li {
      display: block;
      text-align: left;
      width: 100%;
      height: fit-content;
    }
  }
}
