.widget_container {
    width: 98%;
}

#bottom {
    display: none;
}

.page {
    overflow: visible;
}

#navbarLeft .navbar{
  background-color: #000000;
  -webkit-box-shadow: 1px 0px 16px gray;
  -moz-box-shadow: 1px 0px 16px gray;
  box-shadow: 1px 0px 16px gray;
}
