openapi: 3.0.1
info:
  description: ''
  version: 1.0.0
  title: CometVisu Manager backend
tags:
  - name: fs
    description: Filesystem handling
  - name: config
    description: Configuration and Settings
paths:
  '/fs/move':
    put:
      tags:
        - fs
      summary: Move folder or file to a new place
      description: ''
      parameters:
        - name: src
          in: query
          description: current path of the filesystem entry
          required: true
          schema:
            type: string
        - name: target
          in: query
          description: new path of the filesystem entry
          required: true
          schema:
            type: string
      operationId: move
      x-exegesis-controller: FsController
      responses:
        '200':
           description: successful operation
        '403':
           description: Not allowed
        '404':
          description: Source does not exist
        '405':
          description: Error occurred
        '406':
           description: Target does exist
  '/fs':
    parameters:
      - name: path
        in: query
        description: Relative path inside the config folder
        required: true
        schema:
          type: string
      - name: hash
        in: query
        description: CRC32 hash value of the file content
        required: false
        schema:
          type: number
    get:
      tags:
        - fs
      summary: Return directory listing or file content
      description: Returns a list of files/directories if the requested path pointed to a directory or the content of the file otherwise
      operationId: read
      x-exegesis-controller: FsController
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadResponse'
            text/*:
              schema:
                type: string
        '403':
          description: Not allowed
        '404':
          description: Path not found
    post:
      tags:
        - fs
      summary: Create a new file or folder on the host
      description: ''
      operationId: create
      x-exegesis-controller: FsController
      requestBody:
        description: Content of the file (empty when creating folder)
        content:
          text/*:
            schema:
              type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: Not allowed
        '406':
          description: File exists
    put:
      tags:
        - fs
      summary: Update an existing file
      description: ''
      operationId: update
      x-exegesis-controller: FsController
      requestBody:
        description: Content of the file
        required: true
        content:
          text/*:
            schema:
              type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: Not allowed
        '406':
          description: File does not exist
    delete:
      tags:
        - fs
      summary: Deletes a file/folder
      description: ''
      operationId: delete
      x-exegesis-controller: FsController
      responses:
        '200':
          description: successful operation
        '403':
          description: Not allowed
        '404':
          description: File/Folder not found
        '406':
          description: Folder not empty
  '/config/hidden':
    put:
      tags:
        - config
      summary: Save the hidden config
      operationId: saveHiddenConfig
      x-exegesis-controller: HiddenConfigController
      requestBody:
        description: Complete config content
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HiddenConfig'
      responses:
        '200':
          description: successful operation
        '403':
          description: Not allowed
        '404':
          description: Config option does not exist
  '/config/hidden/{section}/{key}':
    parameters:
      - name: section
        in: path
        description: Section of the config option
        schema:
          type: string
      - name: key
        in: path
        description: Key (ID) of the config option in the section
        required: true
        schema:
          type: string
    get:
      tags:
        - config
      summary: Provides the value of a config option
      operationId: getHiddenConfig
      x-exegesis-controller: HiddenConfigController
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HiddenConfig'
                  - $ref: '#/components/schemas/ConfigSection'
                  - $ref: '#/components/schemas/ConfigOption'
        '403':
          description: Not allowed
        '404':
          description: Config option does not exist
    put:
      tags:
        - config
      summary: Changes the value of an existing config option
      operationId: updateHiddenConfig
      x-exegesis-controller: HiddenConfigController
      requestBody:
        description: Value of the config option
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: Not allowed
        '404':
          description: Config option does not exist
    post:
      tags:
        - config
      summary: Creates a new config option
      operationId: createHiddenConfig
      x-exegesis-controller: HiddenConfigController
      requestBody:
        description: Value of the config option
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          description: successful operation
        '403':
          description: Not allowed
        '406':
          description: Config option does exist
    delete:
      tags:
        - config
      summary: Delete config option
      operationId: deleteHiddenConfig
      x-exegesis-controller: HiddenConfigController
      responses:
        '200':
          description: successful operation
        '403':
          description: Not allowed
        '404':
          description: Config option does not exist
components:
  schemas:
    ReadResponse:
      oneOf:
        - $ref: '#/components/schemas/DirContent'
    DirContent:
      type: array
      items:
        $ref: '#/components/schemas/FsEntry'
    HiddenConfig:
      type: array
      items:
        $ref: '#/components/schemas/ConfigSection'
    ConfigSection:
      type: object
      properties:
        name:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/ConfigOption'
    ConfigOption:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
    FsEntry:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: ['dir', 'file']
        parentFolder:
          type: string
        hasChildren:
          type: boolean
        readable:
          type: boolean
          default: false
        writeable:
          type: boolean
          default: false
        mounted:
          type: boolean
          default: false
        hash:
          type: number
          description: hash value for file content (CRC32)
externalDocs:
  description: Find out more about CometVisu
  url: 'https://www.cometvisu.org'
