html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    position:absolute; top:0; bottom:0; right:0; left:0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#container {
    width: 100%;
    position:absolute; top: 40px; bottom:0; right:0; left:0;
    border:1px solid grey;
}
.actions > button {
    padding: 5px 15px;
    margin: 5px 10px;
}

.line-error {
    background: red;
    width: 5px !important;
    left: 3px;
}