.wy-table-responsive table tr td, .wy-table-responsive table tr th {
    white-space: normal;
}
img + p.caption {
    margin-top: -16px;
    font-style: italic;
}
img.align-center + p.caption {
    text-align: center;
}
img.align-right + p.caption {
    text-align: right;
}
img.align-left + p.caption {
    text-align: left;
}