name: CometVisu nightly builds
on:
  workflow_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository == 'CometVisu/CometVisu'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install dependecies
        run: pip install PyGithub sh
      - name: "Create tag on change"
        run: ./utils/ci/tagger --start
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NIGHLTY_ONLY: 1
