name: "[doc] Spellcheck"
on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - master
      - release-*
    paths:
      - 'doc/**'
    tags-ignore:
      - '*'
env:
  NODE_VERSION: '14.15'
jobs:
  spellcheck-docs:
    name: "Spellcheck documentation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install python dependencies
        run: |
          python -m pip install -r utils/requirements.txt
      - name: install german dictionary
        run: sudo apt-get install -y myspell-de-de
      - name: check german docs
        run: ./cv doc -l de --spelling | grep --color=never "Spell check"
      - name: check english docs
        run: ./cv doc -l en --spelling | grep --color=never "Spell check"
