name: Tag new release
on:
  workflow_dispatch:
jobs:
  tagger:
    runs-on: ubuntu-latest
    if: github.repository == 'CometVisu/CometVisu'
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Install action dependencies
        run: npm install
        working-directory: ./.github/actions/github
      - id: nightly
        name: "Create tag on change"
        uses: ./.github/actions/github
        with:
          action: increase-build-tag
          options: true release
        env:
          COMMIT_AUTHOR_NAME: CometVisu-CI
          COMMIT_AUTHOR_EMAIL: generator@cometvisu.org
          NIGHLTY_ONLY: 1
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Trigger build
        uses: ./.github/actions/github
        with:
          action: trigger-build
          options: ${{ steps.nightly.outputs.result }}
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }} # does not work with secrets.GITHUB_TOKEN, must be another token with rights for workflows
